body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #435266;
    background-color: #f0f3fa;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling:touch;
}
a {
    color: #a0a7ba;
    font-weight: 700;
    -webkit-transition: .3s;
    transition: .3s;
    outline: none !important;
}
a:hover {
    color: #114de3;
    text-decoration: none;
}
a:focus {
    color: #1650e3;
    text-decoration: none;
}
h4,h5,h6,p {
    max-width: 100%;
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
p {
    color: #627199;
    font-size: 14px;
    line-height: 23px;
    font-family: 'Lato', sans-serif;
}
p.ultra-light {
    color: #a0a7ba;
}
h4,h5 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h4 {
    font-size: 14px;
    line-height: 23px;
    margin: 0;
    margin-bottom: 23px;
}
h5 {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 10px;
}
h6 {
    font-size: 9px;
    font-weight: 700;
    line-height: 14px;
    color: #627199;
    text-transform: uppercase;
}
h6.full-time {
    color: #9db723;
}
h4.dark {
    color: #000;
}
ul {
    margin-bottom: 0;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex.no-column {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media all and (max-width: 768px) {
    .flex {
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    }
}


.button {
    font-size: 9px;
    font-weight: 700;
    line-height: 14px;
    display: inline-block;
    position: relative;
    outline: none !important;
    background: #1650e3;
    color: #fff;
    border: none;
    text-align: center;
    overflow: hidden;
    padding: 9px 21px;
    -webkit-transition: .3s;
    transition: .3s;
    border-radius: 50px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0.9px 0.4px 0.4px rgba(116, 135, 183, 0.8);
    box-shadow: 0px 0.9px 0.4px 0.4px rgba(116, 135, 183, 0.8);
    z-index: 1;
}
.button:hover {
    color: #fff;
    background: #003cd4;
}
.button:focus {
    color: #fff;
}


::-webkit-input-placeholder {
    color: #627199;
}
:-moz-placeholder {
    color: #627199;
}
::-moz-placeholder {
    color: #627199;
}
:-ms-input-placeholder {  
    color: #627199;
}
::-ms-clear {
    display: none;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration { 
    display: none; 
}
.divider {
    height: 1px;
    background: #ededed;
    margin-left: -webkit-calc(-50vw + 50%);
    margin-left: calc(-50vw + 50%);
    width: 100vw;
}

.spacer-xs {
    padding-top: 10px;
}

.candidate {
    background: #fff;
    padding: 20px 20px 9px;
    border-radius: 3px;
}
.candidate .candidate-info {
    margin-bottom: 15px;
}
.candidate-info .candidate-name {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.candidate-info .candidate-designation {
    color: #627199;
    font-weight: 400;
}
.candidate-info .candidate-info-bottom {
    border-top: 1px solid #ededed;
    margin-top: 20px;
    padding-top: 20px;
}
.candidate-info-bottom .candidate-location>span, .candidate-info-bottom .hourly-rate>span {
    color: #627199;
    padding-right: 2px;
}
.candidate-info-bottom .candidate-location, .candidate-info-bottom .hourly-rate {
    position: relative;
    padding-right: 8px;
    color: #a0a7ba;
}
.candidate-info-bottom .candidate-location {
    margin-right: 8px;
}
.candidate-info-bottom .candidate-location:after, .candidate-info-bottom .candidate-skills:before {
    content: ".";
    position: absolute;
    top: 3px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #627199;
}
.candidate-info-bottom .candidate-location:after {
    right: 0;
}
.candidate-info-bottom .candidate-skills:before {
    left: 0;
    top: 5px;
}
.candidate-info-bottom .candidate-skills {
    position: relative;
    padding-left: 12px;
}
.candidate-info-bottom .candidate-skills>li {
    line-height: 0;
}
.candidate-skills .button {
    padding: 3px 10px;
    background: #a0a7ba;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-right: 5px;
}
@media all and (max-width: 768px) {
    .candidate-info-bottom .candidate-location:after, .candidate-info-bottom .candidate-skills:before {
        content: none;
    }
    .candidate-info-bottom .candidate-skills {
        padding: 0;
        margin-top: 5px;
    }
    .candidate-skills .button {
        margin-bottom: 5px;
    }
}

.bookmarked-rs-meta .bookmarked-rs-category {
    color: #1650e3;
    padding-right: 10px;    
    margin-right: 8px;
}
.bookmarked-rs-meta .bookmarked-rs-category, .bookmarked-rs-meta .hourly-rate {
    position: relative;
}
.bookmarked-rs-meta .candidate-location>span, .bookmarked-rs-meta .hourly-rate>span {
    color: #a0a7ba;
}
.bookmarked-rs-meta .candidate-location>span {
    padding-left: 3px;
}
.bookmarked-rs-meta .hourly-rate {
    padding-left: 10px;
    margin-left: 8px;
}
.bookmarked-rs-meta .bookmarked-rs-category:after, .bookmarked-rs-meta .hourly-rate:before {
    content: ".";
    position: absolute;
    top: 0;
    font-size: 9px;
    font-weight: 700;
    color: #621299;
    line-height: 9px;
}
.bookmarked-rs-meta .bookmarked-rs-category:after {
    right: 0;
}
.bookmarked-rs-meta .hourly-rate:before {
    left: 0;
}
@media all and (max-width: 480px) {
    .bookmarked-rs-meta .bookmarked-rs-category:after, .bookmarked-rs-meta .hourly-rate:before {
        content: none;
    }
    .bookmarked-rs-meta .bookmarked-rs-category, .bookmarked-rs-meta .hourly-rate, .bookmarked-rs-meta .candidate-location {
        line-height: 20px;
    }
    .bookmarked-rs-meta .candidate-location {
        margin-right: 18px;
    }
    .bookmarked-rs-meta .hourly-rate {
        padding: 0;
        margin: 0;
    }
}

.rs-post-top {
    padding-bottom: 25px;
}
.rs-post-top .rs-post-top-left {
    margin-right: 15px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.rs-post-top .rs-post-top-left img {
    border-radius: 3px;
    min-width: 70px;    
}
.rs-post-top .rs-post-top-right>h4{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;  
}
.rs-post-top .rs-post-top-right h5 {
    color: #627199;
    text-transform: uppercase;  
}
.rs-post-meta .bookmarked-rs-meta {
    margin-right: 15px;
}
.rs-post-bottom {
    padding-top: 25px;
}
.rs-post-bottom h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}
.rs-post-bottom .rs-post-nested-list {
    margin-left: 30px;
}
.rs-post-nested-list>li {
    color: #627199;
    font-size: 14px;
    line-height: 23px;
    font-family: 'Lato', sans-serif;    
}
.rs-post-nested-list>li>span {
    color: #9db723;
    margin-right: 15px;
    font-size: 13px;    
}
@media all and (max-width: 480px) {
    .rs-post-top.flex, .rs-post-meta.flex {
        -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
        flex-flow: column wrap;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .rs-post-top .rs-post-top-left {
        margin-bottom: 10px;
    }
}
